<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Separate vocals and accompaniment from audio file.</div>
    <p>
      You can select an audio file and either separate the vocals or the accompaniment. This is powered by spleeter by Deezer (see <a href="https://github.com/deezer/spleeter">Spleeter)</a>
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='audio/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select File</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div class='analyze'>
        <button id='analyze-button-vocals' class='analyze-button' type='button' onclick='analyze_vocals()'>Separate vocals</button>
      </div>
      <div class='analyze'>
        <button id='analyze-button-accompaniment' class='analyze-button' type='button' onclick='analyze_accompaniment()'>Separate accompaniment</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
